body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e2b;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

h1 {
    font-family: 'Rubik Bubbles', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-bottom: 40px;
    letter-spacing: 3px;
    color: #e2c56d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
/*
.subtitle-container {
    background-color: #c2c099;
    border-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    width: 80%;
    max-width: 700px;
    margin-bottom: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
*/

.subtitle {
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    color: #d8d0d0;
    margin: 0;
    font-size: 26px;
    line-height: 1.4;
    white-space: pre-line;
    margin-bottom: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
}

.note {
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #48544f;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.note:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.note img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
/* Estilos para el modal */
#messageModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #e3e0b1;
    margin: 10% auto;
    padding: 30px;
    border-radius: 15px;
    width: 80%;
    max-width: 700px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
}

/* Botón para cerrar */
.close {
    color: #555;
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

/* Estilo para el mensaje */
#modalMessage {
    font-size: 22px; /* Tamaño de letra aumentado */
    line-height: 1.6;
    margin: 25px 15px;
    color: #4b2700;
    text-align: center;
    font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}

.mus-button {
    position: fixed; /* Lo mantiene fijo en la pantalla */
    top: 90%; /* Distancia desde la parte superior */
    right: 20px; /* Distancia desde la derecha */
    background-color: #10362C;
    color: white;
    border: none;
    padding: 12px 18px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.mus-button:hover {
    transform: scale(1.1);
}

.estrellas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Para que las nubes estén en el fondo */
}

.e {
    position: absolute;
    opacity: 0.7; /* Nubes semi-transparentes */
}

.e1 {
    top: 10%;
    left: 27%;
    width: 30px;
}

.e2 {
    top: 14%;
    left: 28%;
    width: 30px;
}

.e3 {
    top: 40%;
    left: 5%;
    width: 50px;
    transform: rotate(-45deg);
}

.e4 {
    top: 40%;
    left: 3.3%;
    width: 50px;
    transform: rotate(-45deg);
}

.e5 {
    top: 10%;
    left: 70%;
    width: 30px;
}

.e6 {
    top: 14%;
    left: 71%;
    width: 30px;
}


/* Responsive design */
@media screen and (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    h1 {
        font-size: 3rem;
    }
}

@media screen and (max-width: 480px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    h1 {
        font-size: 2.5rem;
    }
    .controls {
        flex-direction: column;
    }
}